In [1]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model 
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sb

pd.set_option('display.max_columns', None)

In [2]:
df_price = pd.read_csv('price_availability.csv', sep=";")
df_listing = pd.read_csv('listings_final.csv',sep=";")

In [3]:
df_price

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2
...,...,...,...,...,...,...,...
4748691,23608395,2018-09-06,2018-09-27 06:05:42.000+0000,False,EUR,24,1
4748692,23608395,2018-09-06,2018-09-26 19:31:32.000+0000,False,EUR,24,1
4748693,1447132,2018-12-27,2018-09-27 10:46:16.000+0000,False,EUR,125,3
4748694,1447132,2018-12-27,2018-09-27 06:07:36.000+0000,False,EUR,125,3
4748695,1447132,2018-12-27,2018-09-26 19:37:40.000+0000,False,EUR,125,3

In [4]:
df_listing

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,2,1261705,chambre privÃ©e Ã louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,RÃ©publique,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des PrÃ©s - OdÃ©on,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00
996,996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,RÃ©publique,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00
997,997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00
998,998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - VendÃ´me,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00
999,999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00

In [5]:
df_price = df_price.groupby('listing_id').mean()
df_price

            available  local_price  min_nights
listing_id
5396         0.011494   102.363985    2.000000
7397         0.168297   110.107632   11.000000
9342         0.309198   396.863014    2.784736
10010        0.254593   136.154856    4.955381
10270        0.511688   105.779221    4.937662
...               ...          ...         ...
28836096     0.082707   321.428571    1.022556
28838519     0.083333    54.483333    5.000000
28840013     0.743083   112.122530    2.000000
28846494     0.225564   168.037594    4.000000
28851976     0.812030   128.000000    2.000000

[11749 rows x 3 columns]

In [6]:
df = pd.merge(df_price, df_listing, on=['listing_id'])

In [7]:
df

,listing_id,available,local_price,min_nights,Unnamed: 0,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,56093,0.000000,170.000000,4.000000,12,Beau duplex dans le Marais,entire_home,Paris,3e arrondissement,48.867284,2.358431,4,2,1,1.0,False,False,True,True,False,0.88,1.0
1,57207,0.482940,49.952756,2.000000,13,Belle Chambre pour court,private_room,Paris,Vaugirard,48.846184,2.304455,2,1,1,1.0,False,False,True,False,False,0.87,1.0
2,114543,0.140260,107.374026,3.716883,19,Charming 1bdr 55mÂ² - Eiffel Tower,entire_home,Paris,NaN,48.849530,2.290219,2,1,1,1.0,False,False,True,True,False,0.90,0.9
3,149534,0.554974,169.000000,3.000000,9,GREAT WARM FULL APT LE HAUT MARAIS,entire_home,Paris,NaN,48.866360,2.361844,4,2,1,1.0,False,False,True,True,False,1.00,0.4
4,164255,0.100580,75.876209,3.841393,28,Perfect place in Le Marais - Paris,entire_home,Paris,3e arrondissement,48.861398,2.364299,4,2,1,1.0,False,False,True,False,False,1.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,28684174,0.785156,725.175781,1.046875,662,Chambre familiale vue jardin avec petit-dÃ©jeun...,private_room,Paris,Ternes,48.879223,2.292382,5,0,1,1.0,False,True,True,False,False,1.00,1.0
995,28709644,0.954286,475.000000,6.000000,745,LORD BYRON-SPACE& STYLE IN 8TH EME,entire_home,Paris,Champs-ElysÃ©es,48.872202,2.298349,4,2,1,1.0,False,True,True,False,False,1.00,1.0
996,28751412,0.521053,117.000000,1.000000,88,Malesherbes Monceau Monsen,entire_home,Paris,Monceau,48.880923,2.314568,2,1,0,1.0,False,True,True,False,False,1.00,1.0
997,28774896,0.840506,156.397468,1.000000,159,5 min to invalides and 10 min to eiffel tower,entire_home,Paris,Invalides - Ecole Militaire,48.852915,2.314519,2,1,1,1.0,False,True,True,False,False,1.00,1.0
998,28792796,0.639098,49.184211,5.000000,998,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - VendÃ´me,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.0

In [8]:
df.describe()

,listing_id,available,local_price,min_nights,Unnamed: 0,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,pricing_weekly_factor,pricing_monthly_factor
count,9.990000e+02,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,1.543276e+07,0.330071,189.304613,7.441345,499.410410,48.864251,2.345202,3.669670,2.058058,1.326326,1.230230,0.942882,0.871809
std,9.305853e+06,0.272364,184.425492,21.041276,288.950197,0.009824,0.031837,2.190568,1.500378,0.998806,0.524497,0.073776,0.162974
min,5.609300e+04,0.000000,17.863724,1.000000,0.000000,48.844372,2.268992,1.000000,0.000000,0.000000,0.000000,0.600000,0.330000
25%,6.341818e+06,0.075917,76.525248,2.000000,249.500000,48.856929,2.326608,2.000000,1.000000,1.000000,1.000000,0.900000,0.750000
50%,1.727835e+07,0.286842,144.000000,3.000000,499.000000,48.864368,2.349152,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000
75%,2.378911e+07,0.545217,230.372596,4.000000,749.500000,48.871906,2.366973,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000
max,2.879280e+07,1.000000,1780.590674,310.000000,999.000000,48.882691,2.412700,16.000000,16.000000,6.000000,5.000000,1.000000,1.000000

In [9]:
X = np.array([df.person_capacity, df.bedrooms, df.bathrooms])
y = np.array(df.local_price)

X.shape

(3, 999)

In [10]:
y.shape

(999,)

In [11]:
X = X.reshape((999,3))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [12]:
X_train.shape

(699, 3)

In [13]:
y_train.shape

(699,)

In [14]:
X_test.shape

(300, 3)

In [15]:
y_test.shape

(300,)

In [16]:
reg = LinearRegression().fit(X_train,y_train)
reg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
print("Coefficients beta_j :\n{}\nCoefficients INTERCEPT beta_0 :\n{}".format(reg.coef_,reg.intercept_))

Coefficients beta_j :
[ 0.05105275 -2.10531958 -4.05737923]
Coefficients INTERCEPT beta_0 :
197.28226296650124

In [18]:
reg1 = reg.fit(X_train,y_train)
y_predict = reg.predict(X_test)
y_predict.size

300

In [19]:
print("Mean squared error: {}\nR2 : {}".format(mean_squared_error(y_test,y_predict),r2_score(y_test,y_predict)))

Mean squared error: 35046.99302862562
R2 : -0.010380011409886869